@main("Elysium") {
<div class="row">
    <div id="traits" class="col-md-4">
        @addtrait("trait")
        <div class="row">
            <div class="col-md-1">
                <a class="padless btn" data-toggle="modal" href="#addtraitModal">
                    <span class="glyphicon glyphicon-plus gray"></span>
                </a>
            </div>
            <div class="col-md-10">
                <h4>Things to do</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled messages" data-bind="foreach: messages">
                    <li>
                        <div class="row">
                            <div class="col-md-1">
                                <a class="padless btn gray" data-bind="click: function(data) { traitmodel.deleteMessage(data._id.$oid); }">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a class="padless btn gray" data-toggle="modal" href="#addtraitModal"
                                   data-bind="click: function(data) { traitmodel.editMessage(data._id.$oid,data.name,data.message); }">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a class="padless btn gray" data-bind="click: function(data) { cardmodel.getCards(data); }">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h5 data-bind="text: $data.name"></h5>
                                <!--<h4 data-bind="text: $data._id.$oid"></h4>-->
                                <!--<h4 data-bind="text: $data.message"></h4>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="cards" class="col-md-4">
        @addtrait("card")
        <div class="row">
            <div class="col-md-1">
                <a class="padless btn" data-toggle="modal" href="#addcardModal"
                   data-bind="click: function(data) { cardmodel.newCard(); }">
                <span class="glyphicon glyphicon-plus gray"></span>
                </a>
            </div>
            <div class="col-md-10">
                <h4>Search for <span data-bind="text: traitname"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled messages" data-bind="foreach: messages">
                    <li>
                        <div class="row">
                            <div class="col-md-1">
                                <a class="padless btn gray" data-bind="click: function(data) { cardmodel.deleteMessage(data._id.$oid); }">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a class="padless btn gray" data-toggle="modal" href="#addcardModal"
                                   data-bind="click: function(data) { cardmodel.editMessage(data._id.$oid,data.name,data.message); }">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a class="padless btn gray" data-bind="click: function(data) { cardmodel.searchCards(data); }">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h5 data-bind="text: $data.name"></h5>
                                <!--<h4 data-bind="text: $data._id.$oid"></h4>-->
                                <!--<h4 data-bind="text: $data.message"></h4>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="hits" class="col-md-4">
        @addtrait("hit")
        <div class="row">
            <div class="col-md-10">
                <h4>Engage <span data-bind="text: traitname"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled messages" data-bind="foreach: messages">
                    <li>
                        <div class="row">
                            <div class="col-md-1">
                                <a class="padless btn gray" data-toggle="modal" href="#addhitModal"
                                   data-bind="click: function(data) { hitmodel.editMessage(data._id.$oid,data.name,data.message); }">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a class="padless btn gray" data-bind="click: function(data) { hitmodel.searchCards(data); }">
                                    <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h5 data-bind="text: $data.name"></h5>
                                <h4 data-bind="text: $data._id.$oid"></h4>
                                <h4 data-bind="text: $data.message"></h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
