@main("Elysium") {
@addtrait()
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2">
                <a data-toggle="modal" href="#addMessageModal" class="btn">
                    <span class="glyphicon glyphicon-plus gray"></span>
                </a>
            </div>
            <div class="col-md-10">
                <h4>Things to do</h4>
            </div>
        </div>
        <ul class="list-unstyled messages" data-bind="foreach: messages">
            <li>
                <div class="row">
                    <div class="col-md-2">
                        <a class="btn btn gray" data-bind="click: function(data) { model.deleteMessage(data._id.$oid) }">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h5 data-bind="text: $data.name"></h5>
                        <!--<h4 data-bind="text: $data._id.$oid"></h4>-->
                        <!--<h4 data-bind="text: $data.message"></h4>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Select or create card</h4>
    </div>
    <div class="col-md-6">
        <h4>Engage</h4>
        <div class="row">
            <div class="col-md-6">
                <h6>Similar</h6>
            </div>
            <div class="col-md-6">
                <h6>Hits</h6>
            </div>
        </div>
    </div>
</div>
}
