@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	    <link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))'>
	    <link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.css"))'>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/jsoneditor.css")'>
	    <script type='text/javascript' src='@routes.WebJarAssets.requirejs'></script>
	    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
	    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))'></script>
	    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("knockout.debug.js"))'></script>
	    <script type='text/javascript' src='/routes.js'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/jsoneditor.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/jsoneditorhelper.js")'></script>
     </head>
	<body>
        <div id="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-list gray"></span>
                    </button>
                    <a class="navbar-brand" href="\">
                        <span class="glyphicon glyphicon-bookmark"></span>
                        @title
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="about">About</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                @content
            </div>
        </div>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/traits.js")'></script>
	</body>
</html>
